.App {

}

.home-content {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dddddd;
}

.separator:not(:empty)::after {
  margin-left: .75em;
}


.apply-shadow {
  box-shadow: 0 0 10px rgb(0,0,0);
  -webkit-box-shadow: 0 0 10px rgb(0,0,0);
}

.markdown-content p, a, li {
  font-size: 12px;
}

.chakra-ui-dark .markdown-content a {
  color: cyan;
}

.markdown-content a {
  color: blue;
}

.markdown-content li {
  margin-top: 10px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0)
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 1px solid darkgray;
}

/* Tooltip container */
.tooltip {
  /* position: relative; */
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  display: contents;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 10;
  width: 300px;
  margin-top: -320px;
  margin-left: -360px

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  overflow: visible;
}

.expand-button {
  display: none;
}

.expanded-nav-container {
  display: none
}

.nav-button {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .nav-button-container:not(:first-child) {
    display: none;
  }

  .nav-button-container:first-child {
    width: calc(100vw - 80px);
  }
  
  .nav-button {
    justify-content: left;
  }

  .expanded-nav-container {
    display: block;
    transition: height 0.5s linear;
    height: 0;
    overflow: hidden
  }

  .expand-button {
    display: flex;
  }
}

.secondary-panel {
  padding: 32px 32px 32px 32px;
  @media screen and (max-width: 768px) {
    padding: 32px 20px 32px 20px;
  }
  @media screen and (max-width: 480px) {
    padding: 32px 12px 32px 12px;
  }
}

.article {
  @media screen {
    margin: 80px 120px 80px 120px;
    * {
      line-height: 2.5em;
    }
    h1 {
      font-size: 3em;
      line-height: 3.5em;
    }
    h2 {
      font-size: 2.5em;
      line-height: 3em;
    }
    h3 {
      font-size: 2em;
      line-height: 2.5em;
    }
    h4 {
      font-size: 1.5em;
    }
    h5 {
      font-size: 1.17em;
    }
    h6 {
      font-size: 1em;
    }
    p, code {
      font-size: 1em;
    }
    ul, ol {
      margin-left: 2em;
      font-size: 1em;
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 80px 80px 80px 80px;
  }
  @media screen and (max-width: 768px) {
    margin: 64px 40px 64px 40px;
    * {
      line-height: 2em;
    }
    h1 {
      font-size: 3em;
      line-height: 3em;
    }
    h2 {
      font-size: 2.5em;
      line-height: 2.5em;
    }
    h3 {
      font-size: 2em;
      line-height: 2em;
    }
    h4 {
      font-size: 1.5em;
    }
    h5 {
      font-size: 1.17em;
    }
    h6 {
      font-size: 1em;
    }
    p, code {
      font-size: 1em;
    }
    ul, ol {
      margin-left: 1.5em;
      font-size: 1em;
    }
  }
  @media screen and (max-width: 480px) {
    margin: 48px 24px 48px 24px;
  }
  /* revert all element to default */
}