.App {

}

.home-content {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dddddd;
}

.separator:not(:empty)::after {
  margin-left: .75em;
}


.apply-shadow {
  box-shadow: 0 0 10px rgb(0,0,0);
  -webkit-box-shadow: 0 0 10px rgb(0,0,0);
}